#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

#next-bot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 60vw;
}

#none{
  font-size: 0px;
  width: 30px;
  max-width: 30px;
}

#menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: start;
  margin-top: 100px;
}

button {
  /* margin: 8px;
  padding: 12px 16px;
  border: 1px solid #111827;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0px;
  width: 128px;
  font-weight: bold;
  font-size: large; */
  width: 200px;
  font-size: 15px;
}

#chat {
  display: flex;
  flex-direction: column;
  height:80%;
  width: 80%;
  background-color: #f6f7fb;
  margin: 32px;
  border: 1px solid #818897;
  margin-left: 0px;
}

#header {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 32px;
  background: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

#header strong {
  font-size: 30px;
}

#list {
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
} 

#composer {
  display: flex;
  gap: 8px;
  padding: 12px;
  border-top: 1px solid #e5e7eb;
  background: white;
} 
#input {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 10;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
  background: #fff;
} 
#button {
  border: 1px solid #111827;
  background: #111827;
  color: #fff;
  border-radius: 10px;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
  /* opacity: busy ? 0.8 : 1; */
} 

#bubble-them {
  max-width: 70%;
  padding: 10px 12px;
  border-radius: 14px;
  background: #e5e7eb;
  color: #111827;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  white-space: pre-wrap;
  word-break: break-word;
} 

#bubble-them-blank{
  max-width: 20%;
  padding: 10px 12px;
  border-radius: 14px;
  background: #e5e7eb;
  color: #111827;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  white-space: pre-wrap;
  word-break: break-word;
} 

#bubble-mine {
  max-width: 70%;
  padding: 10px 12px;
  border-radius: 14px;
  background: #2563eb;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  white-space: pre-wrap;
  word-break: break-word;
} 